# COMMON
.DS_Store
/tmp
/dist
/build
/coverage
/logs
/data
.examples

# FOR NODE
node_modules

# FOR YARN
.yarn
.yarnrc
.yarnrc.yml
.yarn/
.yarn/cache

# FOR NPM
.npmrc
.npm
.npm/
.npm/cache
.npm/tmp

# FOR PNPM
.pnpm
.pnpm/
.pnpm/cache
.pnpm/tmp

_Bot/src/mocks/local
_Backend/src/mocks/local
_Frontend/src/mocks/local
db
