.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  &--label,
  &--input,
  &--info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &--actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 0 8px;
    border-radius: 4px;
  }

  &__with-icon {
    align-items: normal;
  }
}

@media (0 < width < 520px) {
  .form-group {
    &--actions {
      flex-direction: column;
      gap: 8px;
    }
  }
}
