@use "sass:color";
@use "./colors" as *;

.text {
  font-size: 1.4rem;
  line-height: 1.5;

  &--center {
    text-align: center;
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }

  &--warning {
    color: $color-warning;
  }

  &--info {
    color: $color-info;
  }

  &--light {
    color: $color-light;
  }

  &--dark {
    color: $color-dark;
  }

  // Text sizes
  &--small {
    font-size: 1.4rem;
  }

  &--medium {
    font-size: 1.6rem;
  }

  &--large {
    font-size: 2rem;
  }

  &--bold {
    font-weight: 700;
  }
}
