// Import reset styles
@import "reset";

// Layout styles
#root {
  display: contents;
}

.layout {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100dvh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  &__header {
    background-color: #dcdcdc;
    min-height: 100px;
    padding: 0 15px;
  }

  &__main {
    background-color: #e8e8e8;
    padding: 0 15px;
    display: flex;
    flex: 1;
  }

  &__footer {
    background-color: #dcdcdc;
    min-height: 100px;
    padding: 0 15px;
  }

  &__content-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f1f1f1;
  }

  &__main-columns {
    display: flex;
    gap: 15px;
    flex: 1;
  }

  &__aside {
    background-color: #dfffdf;
    padding: 15px;
    min-width: 200px;
    max-width: 300px;
  }

  &__main-content {
    background-color: #fff;
    padding: 15px;
    flex: 1;
  }
}
